[aws]
aws_region_name = @REGION@ # This value will be replaced during the deployment

[aliases]
ssh = ssh {CFN_USER}@{MASTER_IP} {ARGS}

[global]
cluster_template = default
update_check = true
sanity_check = true

[cluster default]
key_name = @KEY_NAME@ # This value will be replaced during the deployment
scheduler = slurm # The solution has been tested only with slurm
master_instance_type = t2.large
base_os = alinux2 # The solution has been tested only with alinux2
vpc_settings = default
queue_settings = compute
additional_iam_policies = arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore, arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess
efs_settings = default
fsx_settings = default
post_install = @POST_INSTALL@ # This value will be replaced during the deployment

[vpc default]
vpc_id = @VPC_ID@ # This value will be replaced during the deployment
master_subnet_id = @SUBNET_ID@ # This value will be replaced during the deployment
additional_sg = @SECURITY_GROUP@ # This value will be replaced during the deployment
use_public_ips = false

[efs default]
efs_fs_id = @EFS_ID@ # This value will be replaced during the deployment
shared_dir = efs

[fsx default]
shared_dir = @FSX_PATH@ # This value will be replaced during the deployment
fsx_fs_id =  @FSX_ID@ # This value will be replaced during the deployment

[queue compute]
enable_efa = false
enable_efa_gdr = false
compute_resource_settings = default

[compute_resource default]
instance_type = c5.xlarge